:root {
  --color-Primary-color01: red;
  --color-sub-color10: #fff;
  --color-sub-color20: #eee;
  --color-sub-color30: #d9d9d9;
  --color-sub-color40: #999;
  --color-sub-color50: #666;
  --color-sub-color60: #444;
  --color-sub-color70: #333;
  --color-sub-color80: #111;
}
