:root {
  --color-Primary-color01: #ed5466;
  --color-Primary-color02: #5d9cec;
  --color-Primary-color03: #b8f8b9;
  --color-Primary-color04: #41c6cd;
  --color-Primary-color05: #cd4841;
  --color-sub-color10: #fff;
  --color-sub-color20: #eee;
  --color-sub-color30: #d9d9d9;
  --color-sub-color40: #999;
  --color-sub-color50: #666;
  --color-sub-color60: #444;
  --color-sub-color70: #333;
  --color-sub-color80: #111;
}
