@import url("./colorVar.css");
@import url("./custom.css");
@import url("./reset.css");
@import url("./font.css");

#root {
  height: 100vh;
  background-color: var(--color-sub-color20);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app {
  background-color: var(--color-sub-color10);
  max-width: 430px;
  height: 932px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* ! Intro */
.mainIntro {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.8rem;
  font-weight: 700;
}
.mainIntro-sub {
  margin: 0 14px;
}

/* ! Header style */
.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: var(--color-sub-color30);
  opacity: 0.9;
}
h1 {
  color: var(--color-sub-color80);
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  opacity: 1;
}
.headerIcon {
  margin-left: auto;
  margin-right: 18px;
  position: relative;
}
.header_couponAddButton {
  margin-right: 24px;
}
.alarmImg,
.couponAddImg {
  width: 34px;
}
.alarmColor {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-Primary-color01);
  top: 4px;
  right: 4px;
  border-radius: 50%;
}

/* ! AlarmSpace */
.alarmSpace {
  position: absolute;
  width: 100%;
  transform: translateX(-431px);
}
.alarmIndex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.alarmMessage {
  background-color: var(--color-sub-color50);
  border-radius: 0 12px 12px 0;
  padding: 14px;
  font-size: 1.4rem;
}

/* !Main */
.main {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}

/* ! Card Design */
.cardIndex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 40px 1px;
}
.card {
  margin: 0 auto;
  width: 380px;
  height: 230px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(1, 1, 1, 0.4);
  border-radius: 10px;
  z-index: 10;
  overflow: hidden;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-sizing: border-box;
}
.cafeName {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 4px 4px 6px var(--color-Primary-color02);
  margin-bottom: 16px;
}
.cafeDescription {
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 4px 4px 6px var(--color-sub-color40);
  line-height: 1.4;
}
