@import url("./colorVar.css");
@import url("./custom.css");
@import url("./modal.css");
@import url("./reset.css");
@import url("./font.css");

#root {
  height: 100vh;
  background-color: var(--color-sub-color20);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app {
  background-color: var(--color-sub-color10);
  max-width: 430px;
  height: 932px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* ! Intro */
.mainIntro {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 4.8rem;
  font-weight: 700;
}
.mainIntro-sub {
  position: absolute;
  display: block;
  margin: 0 14px;
}

/* ! Header style */
.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: var(--color-sub-color30);
  opacity: 0.9;
}
h1 {
  color: var(--color-sub-color80);
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  opacity: 1;
}
.headerIcon {
  margin-left: auto;
  margin-right: 18px;
  position: relative;
}

.alarmImg {
  width: 34px;
}
.alarmColor {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-Primary-color01);
  top: 4px;
  right: 4px;
  border-radius: 50%;
}

/* ! AlarmSpace */
.alarmSpace {
  position: absolute;
  width: 80%;
  transform: translateX(-431px);
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: var(--color-sub-color10);
  background: rgba(1, 1, 1, 0.2);
  backdrop-filter: blur(10px);
  overflow-y: auto;
}
.alarmIndex {
  display: flex;
  flex-direction: column;
}
.alarmMessage {
  margin-top: 12px;
  width: 80%;
  background-color: var(--color-sub-color20);
  border-radius: 0 12px 12px 0;
  padding: 20px;
  font-size: 1.8rem;
}

/* !Main */
.main {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! Card Design */
.cardIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 40px 0 40px 1px;
}
.card {
  margin: 0 auto;
  width: 380px;
  height: 230px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(1, 1, 1, 0.4);
  border-radius: 10px;
  z-index: 10;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateY(0);
}
.cardCafeName {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-sub-color10);
  text-shadow: 4px 4px 6px var(--color-sub-color40);
}
.cafeDescription {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-sub-color20);
  text-shadow: 4px 4px 6px var(--color-sub-color40);
  line-height: 1.4;
}
.couponStamp {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}
.stamp {
  background-color: white;
  border: 2px solid var(--color-Primary-color04);
  border-radius: 50%;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  position: relative;
}
.check {
  background-color: var(--color-Primary-color04);
  border-radius: 50%;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardButton_group {
  display: none;
  justify-content: center;
  gap: 20px;
  z-index: 10;
  opacity: 0;
}
.cardButton {
  font-size: 2rem;
  padding: 14px;
  border-radius: 14px;
}
.stampAdd {
  background-color: var(--color-Primary-color04);
}
