@import url("./colorVar.css");
@import url("./reset.css");
@import url("./font.css");

#root {
  height: 100vh;
  background-color: gainsboro;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app {
  background-color: var(--color-sub-color10);
  max-width: 430px;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* ! Intro */
.mainIntro {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 700;
}
.mainIntro-sub {
  margin: 0 14px;
}

/* ! Header style */
.header {
  display: flex;
  align-items: center;
}
h1 {
  color: var(--color-sub-color80);
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  opacity: 1;
}
.headerIcon {
  margin-left: auto;
  margin-right: 18px;
  position: relative;
}
.alarmImg {
  width: 30px;
}
.alarmColor {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--color-Primary-color01);
  top: 2px;
  right: 4px;
  border-radius: 50%;
}
/* ! MAIN */
main {
  height: 100%;
}
/* ! swiper style */
.swiper {
  display: flex;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* !card */
.card {
  background-color: antiquewhite;
  width: 306px;
  height: 174px;
  margin: 0 auto;
  border: 1px solid red;
  box-sizing: border-box;
}
